html {
    font-size: $fontSizeBase;
}

body {
    background-color: $colorWhite;
    font-family: $fontFamilyBase;
    font-weight: $fontWeightRegular;
}

body, html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

details summary::-webkit-details-marker {
    display:none;
}

.active-li {
    background-color: $colorActiveLiColor;
}

.default-spacing {
    margin: inherit;
    padding: inherit;
}