.container {
    width: $sideBarWidth;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    transform: translateX(-$sideBarWidth);
    transition: getTransitionTiming();
    background-color: $colorBgSideBar;
    border-top-right-radius: getSpacing();
    padding: getSpacing() 0;
    border-bottom-right-radius: getSpacing();

    @include boxShadow();

    @include applyTo('m') {
        transform: translateX(0px);
        transition: getTransitionTiming();
    }

}