.container {
    width: $sideBarWidth;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}

.hide {
    transform: translateX(-$sideBarWidth);
    transition: 0.25s
}

.show {
    transform: translateX(0px);
    transition: 0.25s
}