.container {
    width: 100vw;
    transition: getTransitionTiming();
    padding-top: getSpacing(5);
    padding-bottom: getSpacing(5);
    @include applyTo('m') {
        padding-left: getSpacing(35);
    }
}